.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  flex-direction: column;
}

.App-navar{
  background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
